<div class="container">
  <div class="topbar">

    <img src="http://icons.iconarchive.com/icons/designbolts/religious-symbol/256/Shinto-torii-icon.png" alt="logo" height="60px" class="logo">
    <div class="navbar">
      
      <button [routerLink]="['/home']" >Home</button>
      <button [routerLink]="['/mine']" >Mine Coins</button>
      <button [routerLink]="['/buy']" >Buy Coins</button>
      <button [routerLink]="['/sell']" >Sell Coins</button>
      <button [routerLink]="['/ledger']" >Browse Ledger</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
